@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: #777777;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative; }

a {
  color: #CD606E;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    color: #CD606E;
    outline: none; }

p {
  margin-bottom: 1.5em;
  text-align: left; }

.big-pic {
  height: 55px; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Caveat", cursive;
  font-weight: 400; }

::-webkit-selection {
  color: #818892;
  background: #f9f6f0; }

::-moz-selection {
  color: #818892;
  background: #f9f6f0; }

::selection {
  color: #818892;
  background: #f9f6f0; }

#qbootstrap-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 20px; }
  @media screen and (max-width: 768px) {
    #qbootstrap-header {
      margin-top: 0;
      background: #fff;
      -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1); }
      #qbootstrap-header .navbar-brand {
        color: #CD606E !important; }
      #qbootstrap-header #navbar li a {
        color: rgba(0, 0, 0, 0.5) !important;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        #qbootstrap-header #navbar li a:hover {
          color: #CD606E !important; }
        #qbootstrap-header #navbar li a span:before {
          background: transparent !important; }
      #qbootstrap-header #navbar li.active a {
        background: transparent;
        background: none;
        color: #CD606E !important; }
        #qbootstrap-header #navbar li.active a span:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1); } }
  #qbootstrap-header .navbar {
    padding-bottom: 0;
    margin-bottom: 0; }
  #qbootstrap-header #navbar li a {
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: #dadada;
    position: relative; }
    #qbootstrap-header #navbar li a span {
      position: relative;
      display: block;
      padding-bottom: 2px; }
      #qbootstrap-header #navbar li a span:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #CD606E;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
    #qbootstrap-header #navbar li a:hover {
      color: #dadada; }
      #qbootstrap-header #navbar li a:hover span:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1); }
  #qbootstrap-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #CD606E; }
    #qbootstrap-header #navbar li.active a span:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  #qbootstrap-header .navbar-brand {
    float: left;
    display: block;
    font-size: 34px;
    padding-left: 0;
    color: #fff;
    font-family: "Caveat", cursive; }
  #qbootstrap-header.navbar-fixed-top {
    position: fixed !important;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    top: 0; }
    #qbootstrap-header.navbar-fixed-top .navbar-brand {
      color: #CD606E; }
    #qbootstrap-header.navbar-fixed-top #navbar li a {
      color: rgba(0, 0, 0, 0.5);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      #qbootstrap-header.navbar-fixed-top #navbar li a:hover {
        color: #CD606E; }
    #qbootstrap-header.navbar-fixed-top #navbar li.active a {
      background: transparent;
      background: none;
      color: #CD606E; }
      #qbootstrap-header.navbar-fixed-top #navbar li.active a span:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
  #qbootstrap-header .navbar-default {
    border: transparent;
    background: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
    @media screen and (max-width: 768px) {
      #qbootstrap-header .navbar-default {
        margin-top: 0px;
        padding-right: 0px;
        padding-left: 0px; } }
    #qbootstrap-header .navbar-default .brand-slogan {
      margin: 28px 0 0 15px;
      float: left;
      letter-spacing: 2px;
      color: #adadad; }
      #qbootstrap-header .navbar-default .brand-slogan em {
        color: #CD606E;
        font-style: normal; }
  #qbootstrap-header a {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s; }

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both; }
  .section-heading.svg-sm-2 .svg {
    height: 150px;
    margin-bottom: 0;
    padding: 0; }
  .section-heading.svg-sm .svg {
    height: 180px;
    margin-bottom: -80px;
    padding: 0; }
  .section-heading.colored .svg {
    fill: #CD606E; }
  .section-heading h2 {
    font-size: 80px;
    color: #CD606E;
    display: block;
    padding-bottom: 20px;
    line-height: 1.5; }
    @media screen and (max-width: 768px) {
      .section-heading h2 {
        font-size: 50px; } }
  .section-heading h3 {
    font-weight: 300;
    line-height: 1.5;
    color: #929292; }
    @media screen and (max-width: 768px) {
      .section-heading h3 {
        font-size: 24px !important;
        line-height: 34px; } }

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

#qbootstrap-couple,
#qbootstrap-countdown,
#qbootstrap-groom-bride,
#qbootstrap-story,
#qbootstrap-people,
#qbootstrap-when-where,
#qbootstrap-started,
#qbootstrap-gallery,
#qbootstrap-testimonials,
#qbootstrap-press {
  padding: 7em 0; }
  @media screen and (max-width: 480px) {
    #qbootstrap-couple,
    #qbootstrap-countdown,
    #qbootstrap-groom-bride,
    #qbootstrap-story,
    #qbootstrap-people,
    #qbootstrap-when-where,
    #qbootstrap-started,
    #qbootstrap-gallery,
    #qbootstrap-testimonials,
    #qbootstrap-press {
      padding: 5em 0; } }

.qbootstrap-bg {
  background: rgba(0, 0, 0, 0.03); }

.qbootstrap-cover,
.qbootstrap-hero {
  position: relative;
  height: 800px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .qbootstrap-cover,
    .qbootstrap-hero {
      height: 700px; } }
  .qbootstrap-cover p,
  .qbootstrap-hero p {
    text-align: center; }

.qbootstrap-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4); }

.qbootstrap-cover {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .qbootstrap-cover {
      heifght: inherit;
      padding: 3em 0; } }
  .qbootstrap-cover .display-t {
    display: table;
    height: 800px;
    width: 100%;
    position: relative;
    z-index: 2; }
    @media screen and (max-width: 768px) {
      .qbootstrap-cover .display-t {
        height: 600px; } }
  .qbootstrap-cover .display-tc {
    display: table-cell;
    vertical-align: middle; }
    .qbootstrap-cover .display-tc .holder {
      color: #fff;
      font-family: "Source Sans Pro", Arial, sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 10px; }
      .qbootstrap-cover .display-tc .holder span {
        position: relative; }
        .qbootstrap-cover .display-tc .holder span:before, .qbootstrap-cover .display-tc .holder span:after {
          position: absolute;
          top: 49%;
          width: 100px;
          height: 2px;
          background: #fff;
          content: ''; }
        .qbootstrap-cover .display-tc .holder span:before {
          left: -110px; }
        .qbootstrap-cover .display-tc .holder span:after {
          right: -110px; }
      @media screen and (max-width: 768px) {
        .qbootstrap-cover .display-tc .holder {
          letter-spacing: 2px; }
          .qbootstrap-cover .display-tc .holder span {
            position: relative; }
            .qbootstrap-cover .display-tc .holder span:before, .qbootstrap-cover .display-tc .holder span:after {
              width: 50px;
              height: 2px; }
            .qbootstrap-cover .display-tc .holder span:before {
              left: -60px; }
            .qbootstrap-cover .display-tc .holder span:after {
              right: -60px; } }
    .qbootstrap-cover .display-tc h2 {
      color: #fff;
      font-size: 80px;
      margin-bottom: 20px;
      font-weight: 300 !important; }
      .qbootstrap-cover .display-tc h2 strong {
        font-weight: 700; }
      @media screen and (max-width: 768px) {
        .qbootstrap-cover .display-tc h2 {
          font-size: 60px; } }
    .qbootstrap-cover .display-tc p {
      color: #fff;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 10px; }
    .qbootstrap-cover .display-tc .svg-sm .svg {
      height: 180px;
      margin-bottom: 0; }
    .qbootstrap-cover .display-tc .colored .svg {
      fill: #fff; }

#qbootstrap-slider-hero {
  min-height: 800px;
  background: #fff url(../images/loader.gif) no-repeat center center; }
  #qbootstrap-slider-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0; }
    #qbootstrap-slider-hero .flexslider .slides {
      position: relative;
      overflow: hidden; }
      #qbootstrap-slider-hero .flexslider .slides li {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 770px;
        position: relative; }
        #qbootstrap-slider-hero .flexslider .slides li:after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content: '';
          background: rgba(0, 0, 0, 0.4);
          z-index: 1; }
    #qbootstrap-slider-hero .flexslider .flex-control-nav {
      bottom: 7em;
      z-index: 1000; }
      #qbootstrap-slider-hero .flexslider .flex-control-nav li a {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: none;
        width: 12px;
        height: 12px;
        cursor: pointer; }
        #qbootstrap-slider-hero .flexslider .flex-control-nav li a.flex-active {
          cursor: pointer;
          background: #cd606e; }
    #qbootstrap-slider-hero .flexslider .flex-direction-nav {
      display: none; }
    #qbootstrap-slider-hero .flexslider .slider-text {
      display: table;
      opacity: 0;
      min-height: 800px;
      z-index: 9; }
      #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner {
        display: table-cell;
        vertical-align: middle;
        height: 800px; }
        #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h1, #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h2 {
          margin: 0;
          padding: 0;
          color: white; }
        #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h1 {
          margin-bottom: 20px;
          font-size: 80px;
          line-height: 1.3;
          font-weight: 300; }
          @media screen and (max-width: 768px) {
            #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h1 {
              font-size: 30px; } }
        #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder {
          color: #fff;
          font-family: "Source Sans Pro", Arial, sans-serif;
          font-size: 18px;
          text-transform: uppercase;
          letter-spacing: 10px;
          font-weight: 400; }
          #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span {
            position: relative; }
            #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before, #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
              position: absolute;
              top: 49%;
              width: 100px;
              height: 2px;
              background: #fff;
              content: ''; }
            #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before {
              left: -110px; }
            #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
              right: -110px; }
          @media screen and (max-width: 768px) {
            #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder {
              letter-spacing: 2px; }
              #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span {
                position: relative; }
                #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before, #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
                  width: 50px;
                  height: 2px; }
                #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before {
                  left: -60px; }
                #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
                  right: -60px; } }
        #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h2 {
          font-size: 20px;
          line-height: 1.5;
          margin-bottom: 40px;
          font-family: "Source Sans Pro", Arial, sans-serif; }
          #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h2 a {
            color: rgba(255, 255, 255, 0.5); }
        #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .date {
          color: #fff;
          font-weight: 400;
          font-size: 24px;
          letter-spacing: 10px; }
          #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .date span {
            padding: 5px 20px;
            border: 1px solid #fff; }
        #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .btn {
          padding: 18px 30px !important;
          color: #fff;
          border: none !important;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2px; }
          #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
            background: #CD606E !important;
            -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
            -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
            box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important; }

#qbootstrap-couple img {
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
#qbootstrap-couple h3 {
  font-size: 34px;
  font-family: "Caveat", cursive;
  color: #CD606E; }
  @media screen and (max-width: 768px) {
    #qbootstrap-couple h3 {
      font-size: 35px; } }
#qbootstrap-couple span {
  color: #CD606E;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid rgba(205, 96, 110, 0.3);
  padding: 2px 5px; }
#qbootstrap-couple .amp-center {
  font-size: 60px;
  margin-top: 100%;
  color: #cd606e; }
  @media screen and (max-width: 768px) {
    #qbootstrap-couple .amp-center {
      font-size: 40px; } }
  #qbootstrap-couple .amp-center .colored .svg {
    fill: #CD606E; }

.qbootstrap-bg {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat; }

#qbootstrap-countdown {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100%; }
  #qbootstrap-countdown .section-heading {
    margin-bottom: 0 !important; }
    #qbootstrap-countdown .section-heading h2 {
      color: #fff; }
      @media screen and (max-width: 768px) {
        #qbootstrap-countdown .section-heading h2 {
          font-size: 30px; } }
    #qbootstrap-countdown .section-heading .datewed {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.7); }
    #qbootstrap-countdown .section-heading.svg-sm .svg {
      height: 180px;
      margin-bottom: -50px;
      padding: 0; }
    #qbootstrap-countdown .section-heading.colored .svg {
      fill: #fff; }
  #qbootstrap-countdown .overlay {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.4); }
  #qbootstrap-countdown .countdown {
    margin-bottom: 0;
    font-size: 80px;
    color: #fff; }
    #qbootstrap-countdown .countdown span {
      margin: 0 30px;
      display: inline-block;
      font-family: "Caveat", cursive; }
    #qbootstrap-countdown .countdown small {
      display: block;
      font-size: 14px;
      font-family: "Source Sans Pro", Arial, sans-serif;
      letter-spacing: 10px;
      text-transform: uppercase; }
  #qbootstrap-countdown .display-over {
    z-index: 2; }

.couple {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 40px;
  margin-top: 110px; }
  .couple.groom {
    position: relative;
    z-index: 0; }
    .couple.groom:after {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      content: '';
      background: #f4f3e2;
      z-index: -1; }
  .couple.bride {
    position: relative;
    z-index: 0; }
    .couple.bride:after {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      content: '';
      background: #fef6f8;
      z-index: -1; }
  .couple img {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: -190px;
    border: 10px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .couple .desc {
    z-index: 1; }
    .couple .desc h2 {
      color: #CD606E;
      font-size: 40px;
      margin-bottom: 30px; }

.date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.wedding-events {
  background: #fff; }
  @media screen and (max-width: 768px) {
    .wedding-events {
      margin-bottom: 2em; } }
  .wedding-events .ceremony-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 400px; }
  .wedding-events .desc {
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 0; }
    .wedding-events .desc:after {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      content: '';
      background: #f4f3e2;
      z-index: -1; }
    .wedding-events .desc h3 {
      font-size: 40px;
      color: #CD606E;
      display: block;
      margin-bottom: 40px; }
    .wedding-events .desc .date {
      display: block; }
      .wedding-events .desc .date span {
        display: block;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.7); }
    .wedding-events .desc .icon-tip {
      position: relative;
      width: 100%;
      float: left; }
    .wedding-events .desc .icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-top: 60%; }
      .wedding-events .desc .icon i {
        color: #fff;
        padding: 15px;
        background: #CD606E;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      @media screen and (max-width: 768px) {
        .wedding-events .desc .icon {
          position: relative;
          margin: 0; } }

#qbootstrap-started {
  position: relative; }
  #qbootstrap-started .section-heading {
    margin-bottom: 0 !important; }
    #qbootstrap-started .section-heading h2 {
      color: #fff; }
      @media screen and (max-width: 768px) {
        #qbootstrap-started .section-heading h2 {
          font-size: 30px; } }
    #qbootstrap-started .section-heading h3 {
      color: rgba(255, 255, 255, 0.8); }
    #qbootstrap-started .section-heading .datewed {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.7); }
    #qbootstrap-started .section-heading.svg-sm .svg {
      height: 180px;
      margin-bottom: -50px;
      padding: 0; }
    #qbootstrap-started .section-heading.colored .svg {
      fill: #fff; }
  #qbootstrap-started .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); }
  #qbootstrap-started .qbootstrap-heading h2 {
    color: #fff; }
  #qbootstrap-started .qbootstrap-heading p {
    color: rgba(255, 255, 255, 0.5); }
  #qbootstrap-started .form-control {
    background: rgba(255, 255, 255, 0.2);
    border: none !important;
    color: #fff;
    font-size: 16px !important;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #qbootstrap-started .form-control::-webkit-input-placeholder {
      color: #fff; }
    #qbootstrap-started .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: #fff; }
    #qbootstrap-started .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff; }
    #qbootstrap-started .form-control:-ms-input-placeholder {
      color: #fff; }
    #qbootstrap-started .form-control:focus {
      background: rgba(255, 255, 255, 0.3); }
  #qbootstrap-started .btn {
    height: 54px;
    border: none !important;
    background: #CD606E;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px; }
  #qbootstrap-started .form-inline .form-group {
    width: 100% !important;
    margin-bottom: 10px; }
    #qbootstrap-started .form-inline .form-group .form-control {
      width: 100%; }
  #qbootstrap-started .qbootstrap-heading {
    margin-bottom: 30px; }
    #qbootstrap-started .qbootstrap-heading h2 {
      margin-bottom: 0; }

.qbootstrap-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none; }
  .qbootstrap-nav-toggle.active i::before, .qbootstrap-nav-toggle.active i::after {
    background: #CD606E; }
  .qbootstrap-nav-toggle:hover, .qbootstrap-nav-toggle:focus, .qbootstrap-nav-toggle:active {
    outline: none;
    border-bottom: none !important; }
  .qbootstrap-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 25px;
    height: 3px;
    color: #CD606E;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #CD606E;
    transition: all .2s ease-out; }
    .qbootstrap-nav-toggle i::before, .qbootstrap-nav-toggle i::after {
      content: '';
      width: 25px;
      height: 3px;
      background: #CD606E;
      position: absolute;
      left: 0;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

.qbootstrap-nav-toggle i::before {
  top: -7px; }

.qbootstrap-nav-toggle i::after {
  bottom: -7px; }

.qbootstrap-nav-toggle:hover i::before {
  top: -10px; }

.qbootstrap-nav-toggle:hover i::after {
  bottom: -10px; }

.qbootstrap-nav-toggle.active i {
  background: transparent; }

.qbootstrap-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.qbootstrap-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg); }

.qbootstrap-nav-toggle {
  position: absolute;
  top: 12px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  border-bottom: none !important; }
  @media screen and (max-width: 768px) {
    .qbootstrap-nav-toggle {
      display: block; } }

#footer {
  padding: 50px 0;
  color: #7f7f7f; }
  #footer .copyright {
    margin-bottom: 0px;
    padding-bottom: 0; }

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn.btn-primary {
    background: #CD606E;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important; }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      box-shadow: none;
      background: #CD606E; }
  .btn:hover, .btn:active, .btn:focus {
    background: #393e46 !important;
    color: #fff;
    outline: none !important; }
  .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
    border-color: transparent; }

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%; } }

.row-bottom-padded-lg {
  padding-bottom: 7em; }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
      padding-bottom: 2em; } }

.row-bottom-padded-md {
  padding-bottom: 4em; }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-md {
      padding-bottom: 2em; } }

.row-bottom-padded-sm {
  padding-bottom: 2em; }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
      padding-bottom: 2em; } }

.js .animate-box {
  opacity: 0; }

.qbootstrap-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.registries {
  text-align: left;
  padding: 0; }
  .registries li {
    list-style: none; }

.wedding-info {
  font-size: 48px; }

.address {
  font-size: 36px; }

/*# sourceMappingURL=style.css.map */
